[Unit]
Description=Fetch events from google calendar and store them in a file

[Service]
Type=simple
Nice=10
RuntimeMaxSec=60
ExecStart=python /path/to/gcal-conky/gcal-conky/fetch_today.py
