[Unit]
Description=Fetch events from google calendar and store them in a file
After=network.target


[Service]
Type=simple
Nice=10
RuntimeMaxSec=120
ExecStart=python ~/software/gcal-conky/fetch_today.py
